@{
    ViewData["Title"] = "Lista de Productos";
}
@model List<MVC.Models.Productos>

<div class="text-center">
    <h1 class="display-4">Lista De Productos</h1>
</div>

<table class="table">
    <Thead class="thead-dark">
        <tr>            
            <th scope="col">Nombre de los Productos</th>            
        </tr>
    </Thead>
    <tbody class="table-group-divider">
            @foreach (var producto in Model)
            {
                <tr>
                    <td>@producto.descripcion</td>  
                    <td>
                        <a href="@Url.Action("Details", new { id = producto.idProducto})" class="btn btn-info btn-sm">Detalles</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
<a href="@Url.Action("Create")" class="btn btn-dark">Crear Producto</a>